[Unit]
Description=JBoss EAP Systemctl script
After=NetworkManager.service

[Service]
TimeoutStartSec={{ jboss_startup_wait }}
TimeoutStopSec={{ jboss_shutdown_wait }}
Type=forking
ExecStart={{ jboss_home }}/bin/jboss.sh start
ExecStop={{ jboss_home }}/bin/jboss.sh stop
ExecReload={{ jboss_home }}/bin/jboss.sh restart
PIDFile={{ jboss_home }}/{{ jboss_mode }}/jboss.pid

[Install]
WantedBy=multi-user.target
